html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  margin: 0;
  background-color: var(--color-bg-soft) !important;
  color: var(--color-text);

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

::selection {
  background: var(--color-brand);
  color: var(--color-text-inverse);
}
